@charset "utf-8";
/* CSS Document */


/* 初始化CSS */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
fieldset,img{border:0;}
img{display: block;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
body{color:#333;padding:5px 0;font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;background:#fff;/* overflow-y:scroll;*/ overflow

-x:hidden;}
a{color:#666;text-decoration:none;}
a:visited{color:#666;}
a:hover,a:active,a:focus{color:#ff8400;text-decoration:underline;}


body{font-size:24px;}

#create-btn{
	background: #000;
	color:#fff;
	font-size:24px;
}
table{
	border:1px solid black;
}
td{
	background: #ccc;
	color:#fff;
	width:40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #000;
}